
.carousel-container {
  width: 1100px;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .carousel-container {
    width: 95%;
  }
}
.inner-carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.track {
  display: inline-flex;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.card-container {
  border-radius: 10px;
  width: 275px;
  height: 350px;
  /* flex-shrink: 0; */
  padding: 10px;
}
@media (max-width: 768px) {
  .card-container {
    width: 184px;
  }
}
.card {
    background-color: rgba(245, 245, 220, 0.718);
  border: 1px solid rgba(6, 6, 6, 0.56);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-top: 25px;
}

.nav button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000;
  cursor: pointer;
}
.nav .prev {
  left: -30px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
}
.nav .next.hide {
  display: none;
}
