
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.split-container {
    display: flex;
    min-height: 100vh;
    color: black;
}

.left-side {
    flex: 1; 
    overflow: hidden;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popupContainer {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.popupContainer h1{
    text-align: center;
    margin-bottom: 20px;
}

.popupContainer input{
    margin: 5px;
    width: 230px;
}

.btn{
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100x;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12pt;
}

.btn:hover {
    background-color: #acacac;
    color: black;
}

.popupFrame {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.hidden {
    display: none;
}


@media (max-width: 768px) {
    .split-container {
        flex-direction: column;
    }
    
    .left-side {
        height: 40vh; 
    }
    
    .popupContainer {
        padding: 20px;
    }
}
