
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.skip-link {
    position: absolute;
    margin-top: -50px;
    left: 0;
    top: 0;
    background-color: rgb(200, 198, 198);
    color: black;
    padding: 10px;
    text-decoration: none;
    z-index: 100;
}

.skip-link:focus {
    margin-top: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    background: linear-gradient(-45deg, rgb(34, 34, 34), white)
}
 
header {
    background-color: #000000;
    font-size: 14pt;
    color: #fff;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #f5f5f5;
    margin: 0;
}

nav a {
  color: #c3baba;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 40px;
}
nav a:hover {
  background: rgb(122, 121, 121);
  color: #1e1e1e;
}

#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#hero video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 1rem;
}

.hero-content h2 {
  font-size: 2.7rem;   
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1rem;
}

h2 {
    margin-bottom: 20px;
}

#newmember-btn {
  background-color: #dbe2e2;
  color: rgb(29, 29, 29);
  text-decoration: none;
  width: 150px;
  border: none;
  border-radius: 8px;
  margin: 20px;
  padding: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

#newmember-btn:hover {
  background-color: #444;
  color: white;
}

section {
  padding: 2rem 1rem;
  text-align: center;
  margin: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; 
  gap: 2rem;
  margin-top: 40px;
}
.card {
  background-color: #fff;
  padding: 1rem;
  flex: 1 1 300px; 
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

.card img {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-radius: 10px;
  margin-top: 1rem;
}

input, textarea, button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #1e1e1e;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
}

#about{
  padding: 2rem 1rem;
  text-align: center;
  margin: 25px;
}

#about-text{
font-size: 15pt;
font-weight: 700;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1e1e1e;
    color: #fff;

}
@media screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }    

    header nav {
        flex-direction: column;
    }
  }